---
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "eUprava" } = Astro.props;
---

<!doctype html>
<html lang="sr" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="min-h-screen bg-main text-foreground">
    <slot />
  </body>
</html>