---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import LoginForm from '../components/LoginForm.astro';
---

<Layout title="Prijava - eUprava" description="Prijavite se na svoj eUprava nalog za pristup javnim uslugama.">
  <div class="min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-1">
      <LoginForm />
    </main>
  </div>
</Layout>
