---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import RegisterForm from '../components/RegisterForm.astro';
---

<Layout title="Registracija - eUprava" description="Registrujte se za eUprava nalog i pristupite javnim uslugama.">
  <div class="min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-1">
      <RegisterForm />
    </main>
  </div>
</Layout>
